@font-face {
  font-family: anotherDangerSlanted;
  src: url(./assets/Another\ Danger\ Slanted\ -\ Demo.otf);
}

body {
  background-color: black;
}

.display-box {
  height: 75vh;
  width: 25rem;
  overflow: scroll;
}

/************* 
***NAVBAR***
*********** */

.navbar-dark {
  position: absolute;
  overflow: hidden;
  width: 100%;
  z-index: 1;
}

.bg-light {
  background-color: transparent !important;
}

.navbar-brand {
  font-family: anotherDangerSlanted;
  color: red !important;
  font-size: 50px;
  letter-spacing: 1.5px;
}

.nav-link {
  color: red !important;
  font-size: 25px;
  text-decoration: none;
  letter-spacing: 3px !important;
  font-family: anotherDangerSlanted;
}

li {
  margin-right: 10px;
}

.navLink:hover {
  color: red;
  text-decoration: none;
}

.custom-toggler .navbar-toggler-icon {
  border-color: rgb(0, 0, 0);
  color: red;
}

/************************* 
***HORROR TITLE RESULTS***
*************************/

#inp-horror-title {
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 5rem;
}

#btn-horror-title {
  display: block;
  margin-left: 66.5rem;
  background-color: gray;
  margin-top: -1.87rem;
  height: 2rem;
}

#horror-title-results {
  align-items: center;
  align-content: center;
  text-align: center;
  padding-top: 100px;
  color: red;
}

/**************************** 
***HORROR DATABASE RESULTS***
****************************/

#horror-movie-database {
  margin-top: 200px;
  align-items: center;
  align-content: center;
  /* color: red !important; */
}

/* .align-left {
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* #btn-horror-database {
  position: fixed;
  top: 5px;
  left: 2px;
} */

#horror-database-results {
  list-style: none;
  text-align: center;
  align-content: center;
  align-items: center;
}

#fixed-pagination {
  position: relative;
}

.pagination {
  position: fixed;
  bottom: 0;
  right: 0;
}

.page-link {
  background-color: red;
  color: black;
  border: none;
}

/* .pagination a {
  padding: 6px 14px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
} */

/* .pagination a.active {
  border-radius: 5px;
  background-color: gray;
  color: white;
} */

/* .pagination {
  position: fixed;
  bottom: 5px;
  right: 2px;
  border-radius: 12px;
} */

/* .pagination a:hover:not(.active) {
  background-color: black;
  border-radius: 5px;
}  */

/* #button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

#next-button {
  position: fixed;
  bottom: 5px;
  right: 2px;
  border-radius: 12px;
} */

/* #next-button {
  background-position: bottom right;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
} */

/* div.fixed {
  position: fixed;
  width: 50%;
  bottom: 10px;
  background-repeat: no-repeat;
  position: bottom right;
  background-attachment: fixed;
} */
